h1 {
    font-family: PlayfairDisplay;
    color:  #000000;
    font-size: 58.33px;/* Approximation due to font substitution */
    font-weight: 700;
    line-height: 26px;/* Approximation due to font substitution */
    text-align: center;
}

h2 {
font-family: PlayfairDisplay;
color:  #000000;
font-size: 60px;/* Approximation due to font substitution */
font-weight: 700;
line-height: 48px;/* Approximation due to font substitution */
text-align: center;
}


h3 {
    font-family: Poppins;
color:  #999999;
font-size: 14px;/* Approximation due to font substitution */
font-weight: 400;
line-height: 48px;/* Approximation due to font substitution */
text-align: center;
}

h4 {
    font-family: PlayfairDisplay;
    color:  #000000;
    font-size: 30px;/* Approximation due to font substitution */
    font-weight: 700;
    line-height: 48px;/* Approximation due to font substitution */
    text-align: left;

    /* Inline Style */
    font-family: PlayfairDisplay;
    color:  #cccccc;
    font-size: 30px;/* Approximation due to font substitution */
    font-weight: 700;
    line-height: 48px;/* Approximation due to font substitution */
    text-align: left;
}

h5 {
    font-family: PlayfairDisplay;
color:  #000000;
font-size: 48px;/* Approximation due to font substitution */
font-weight: 700;
line-height: 60px;/* Approximation due to font substitution */
text-align: left;
}

h6 {
font-family: Poppins;
color:  #000000;
font-size: 18px;/* Approximation due to font substitution */
font-weight: 400;
line-height: 36px;/* Approximation due to font substitution */
text-align: left;
}