html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

/* BASE FONT STYLES */
html {
    font-size: 45%;
    font-family: 'Poppins', sans-serif;
}

img {
    margin: 0;
    width: 100%;
    display: block;
}

ul {
    padding-left: 0;
}

a {
    text-decoration: none;
    color: black;
}

.wrapper {
    width: 61%;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    margin: 0;
    text-align: center;
    margin-top: 10px;
}

h2 {
    font-family: 'Playfair Display', serif; 
    font-size: 6rem; 
}

h3 {
    text-transform: uppercase;
    font-size: 1.4rem;
    margin: 0;
    text-align: center;
    letter-spacing: 5px;
    color: #999999;
}

h4 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
}

h5 {
    font-family: 'Playfair Display', serif;
    font-size: 4.8rem;  
    margin: 0;
}

h6 {
    text-transform: uppercase;
    font-size: 1.8rem;
}

p {
    font-size: 1.4rem;
    color: #999999;
    line-height: 2;
}

header a {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 600;
}

.visuallyHidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* HEADER */

header {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
}

header ul {
    margin: 0;
    padding: 0;
    margin: 25px 0;
}

header li {
    float: left;
}

.headerLeft, 
.logo {
    float: left;
}

.headerLeft {
    width: 30%;
}

.headerLeft li {
    margin-right: 40px;
}

.logo {
    margin-left: 10%;
}

.headerRight {
    float: right;
}

.headerRight li {
    display: block;
    margin-left: 40px;
}

.headerRight i {
    font-size: 2rem;
}

.cart {
    position: relative;
}

.cartNumber {
    background-color: turquoise;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    left: 6px;
    top: 8px;
    position: absolute;
}

.cartNumber p {
    font-size: 0.75rem;
    color: black;
    font-weight: 600;
    text-align: center;
    line-height: 0;
}

/* HERO  */

.hero {
    height: 80vh;
    background-image: url("../assets/home-1.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ABOUT US */

.aboutUs {
    background-color: #ededed;
    padding: 100px 0 200px 0;
}

.aboutUs h3 {
    padding: 50px;
}

.images {
    width: 50%;
    float: left;
    position: relative;
}

.images img:first-child {
    width: 70%;
    border: solid 8px white;
    float: right;
}

.images img:last-child {
    width: 200px;
    position: absolute;
    top: 200px;
    left: 20px;
}

.aboutUsText {
    width: 50%;
    float: left;
    padding-left: 30px;
}

.topBar {
    width: 75px;
    height: 2px;
    background-color:black;
    margin-bottom: 30px;
}

.author {
    color: black;
    font-weight: 600;
}

/* AMENITIES  */

.amenitiesText {
    width: 60%;
    float: left;
    padding-top: 5%;
}

.amenitiesText ul {
    width: 60%;
    float: right;
    margin-top: 70px;
}

.amenitiesText li {
    width: 47%;
    float: left;
    margin-bottom: 30px;
}

.amenitiesText li:nth-child(odd) {
    clear: both;
}

.amenities img {
    width: 40%;
}

.amenities i {
    font-size: 2.5rem;
    display: block;
    float: left;
    color: #333333;
}

.amenities h6 {
    margin: 0;
    color: #333333;
}

.amenitiesItem {
    width: 80%;
    float: left;
    padding-left: 15px;
}

/* TESTIMONIAL EXPLORE  */

.testimonialExplore {
    background-image: radial-gradient(circle at 100% 150%, whitesmoke 24%, white 25%, white 28%, whitesmoke 29%, whitesmoke 36%, white 36%, white 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, whitesmoke 24%, white 25%, white 28%, whitesmoke 29%, whitesmoke 36%, white 36%, white 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, white 10%, whitesmoke 11%, whitesmoke 23%, white 24%, white 30%, whitesmoke 31%, whitesmoke 43%, white 44%, white 50%, whitesmoke 51%, whitesmoke 63%, white 64%, white 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, white 5%, whitesmoke 6%, whitesmoke 15%, white 16%, white 20%, whitesmoke 21%, whitesmoke 30%, white 31%, white 35%, whitesmoke 36%, whitesmoke 45%, white 46%, white 49%, transparent 50%, transparent),
    radial-gradient(circle at 0    50%, white 5%, whitesmoke 6%, whitesmoke 15%, white 16%, white 20%, whitesmoke 21%, whitesmoke 30%, white 31%, white 35%, whitesmoke 36%, whitesmoke 45%, white 46%, white 49%, transparent 50%, transparent);
    background-size:50px 25px;
    padding-top: 100px;
    text-align: center;
}

.clients {
    background-color: white;
    padding: 8% 15%;
    margin: 1%;
    box-shadow: 0px -2px 30px gainsboro;
}

.clients .quote {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
    color: #333333;
}

.stars {
    margin: 20px 0 30px 0;
}
.stars .far {
    color: orange;
    font-size: 2.2rem;
}

.textBlack {
    color: black;
}

.clients i {
    font-size: 1.5rem;
}

.gallery {
    padding: 100px 0;
}

.galleryImages img {
    width: 31%;
    float: left;
    margin: 1%;
}

/* CONTACT  */

.contact img {
    width: 55%;
    float: left;
}

.contactText {
    width: 30%;
    float: left;
    padding: 50px 0 0 50px; 
}

.contactText h2 {
    margin-top: 25px;
}

.contactText h3 {
    text-align: left;
}

.contactText h4 {
    margin: 0;
}

.email {
    padding: 20px 0 50px 0;
}

.lightGrey {
    color: lightgrey;
}

.emailBold {
    font-family: 'Playfair Display', serif;
    color: black;
    font-size: 1.6rem;
}

/* FOOTER */

footer {
    background-color:#212020;
    padding: 30px 0;
}

.footerLeft,
.footerCentre,
.footerRight {
    float: left;
}

.footerLeft {
    width: 30%;
}

.footerCentre {
    width: 30%;
}

.footerRight {
    width: 40%;
}

footer a {
    color: #999999;
    font-size: 1.4rem;
}

footer p {
    color: #999999;
    font-size: 1.4rem;
    margin: 0;
    padding: 3px;
    line-height: 1;
}

footer ul {
    margin: 0;
}

footer li {
    padding: 3px;
}

footer form {
    width: 100%;
    border-bottom: solid 1px #333333;
    margin-top: 20px;
    padding-bottom: 10px;
}

footer input[type="text"] {
    width: 80%;
    margin: 0;
    color: white;
    background-color: #212020;
    border: 0;
    padding: 5px 5px 5px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    
}

footer .submit {
    float: right;
    margin-top: 10px;
    background-color: #212020;
    border: 0;
    background-image: url(../assets/plane.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.footerMain {
    border-bottom: solid 1px #333333;
    padding-bottom: 50px;
    padding-top: 30px;
}

.footerSocial {
    padding-top: 30px;
}

.footerSocial p {
    display: block;
    float: left;
}

.socialIcons {
    float: right;
}

.socialIcons i {
    padding-left: 30px;
    font-size: 1.7rem;
    color: white;
}

/* BLOG PAGE BLOG PAGE BLOG PAGE BLOG PAGE BLOG PAGE BLOG PAGE */

 .mainContent {
    background-color: #ededed;
    padding-top: 100px;
    background-image: url(../assets/blog-1.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 100px;
}

.blogMain {
    background-color: white;
    width: 66%;
    margin: 0 auto;
    padding: 30px;
    margin-top: 425px;
}

.blogMain h6,
.contactDetails h6 {
    font-family: 'Playfair Display', serif;
    text-transform: none;
    margin: 0;
}

.blogMain h5 {
    font-size: 3.6rem;
    padding: 3% 15% 2% 15%;
    line-height: 1.4;
}


.blogMain h5, 
.blogMain .subheading {
    text-align: center;
}

.blogInfo {
    padding: 40px 0 20px 0;
    border-bottom: solid 0.5px #d1d1d1;
}

.blogInfo h6 {
    margin-top: 10px;
}

.blogInfo p {
    margin-top: 2px;
    font-weight: 300;
    display: block;
    width: 100%;
}

.author {
    width: 55%;
    float: left;
}

.author img {
    width: 50px;
    border-radius: 50%;
    float: left;
}

.author h6,
.author p {
    width: 60%;
    float: left;
    margin-left: 10px;
}
.date,
.category,
.tags {
    width: 15%;
    float: left;
}

.blogContent p:first-child {
    color: black;
    font-weight: 400;
}

.blogSocial {
    padding-top: 20px;
    padding-bottom: 30px;
}
.blogSocial h6 {
    display: inline;
    padding-right: 10px;
}

.blogSocial i {
    font-size: 1.5rem;
    padding: 5px;
    color: #d1d1d1;
}

.blogSocial .fa-twitter:hover {
    color: #0084b4;
}

.blogSocial .fa-instagram:hover {
    color: #e95950;
}

.blogSocial .fa-facebook-f:hover {
    color: #3B5998;
}

.blogSocial .fa-google-plus-g:hover {
    color: #dd4b39;
}

.post {
    float: left;
    width: 32%;
    box-shadow: 0px 1px 2px #d1d1d1;
}

.post:hover {
    box-shadow: 0px 5px 15px gainsboro;
}

.postImage {
    overflow: hidden;
}

.postImage img {
    transition: transform 0.2s;
}

.post:hover > .postImage > img {
    transform: scale(1.5);
    filter: blur(0.5px);
}

.post:hover > .postText > h6 {
    text-decoration: underline;
}

.post:hover > .postText > p:last-child {
    color: black;
}

.post1 {
    margin-right: 2%;
}

.post3 {
    margin-left: 2%;
}

.post h6 {
    font-size: 1.7rem;
    margin: 0;
    line-height: 1.3;
}

.postText {
    padding-left: 15px;
    padding-right: 15px;
}

.commentSection h4,
.relatedPosts h4,
.leaveAComment h4 {
    border-bottom: solid 0.5px #d1d1d1;
    padding-bottom: 15px;
}

.comment {
    margin-bottom: 20px;
}

.comment img {
    width: 50px;
    float: left;
}

.commentText {
    background-color: #ededed;
    width: calc((100% - 50px) - 3%);
    margin-left: 3%;
    float: left;
    padding: 1% 0 2% 2%;
    position: relative;
}

.speechBubble {
    border-bottom: solid 6px transparent;
    border-top: solid 6px transparent;
    border-left: solid 13px transparent;
    border-right: solid 13px #ededed;
    position: absolute;
    top: 10px;
    left: -26px;
    z-index: 3;
}

.commentText p {
    margin: 3px;
    color: #777777;
}

.commentText .commentAuthor {
    color: black;
}

.commentText p:last-child {
    color: #999999;
    font-weight: 300;
}

.commentText .reply {
    color: turquoise;
    font-weight: 400;
    font-style: italic;
}


/* CONTACT PAGE CONTACT PAGE CONTACT PAGE CONTACT PAGE CONTACT PAGE  */

.contactHero {
    height: 55vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.heroTop {
    background-image: url("../assets/contact-1.jpeg");
}

.heroBottom {
    background-image: url("../assets/contact-2.jpeg");
}

.getInTouch {
    padding-bottom: 50px;
}

.contactDetails {
    margin-top: 75px;
}

.contactDetails p:nth-child(2),
.getInTouch p:nth-child(2) {
    padding-right: 50%;
}

.contactMethod {
    width: 33%;
    float: left;
    padding: 30px 0 30px 40px;
    margin: 20px 0;
}

.contactMethod i {
    font-size: 4rem;
    margin-bottom: 15px;
}

.contactMethod h6 {
    margin-bottom: 15px;
}

.contactMethod p {
    margin: 0;
    line-height: 1.5;
}

.contactPhone,
.contactAddress {
    border-right: solid 0.5px #d1d1d1;
}

/* FORMS FORMS FORMS FORMS FORMS FORMS FORMS FORMS FORMS FORMS*/

/* fortmatting the placeholder text */
::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    color: #999999;
}

/* this makes the text black when writing */
#commentName,
#commentEmail,
#commentSubject,
#commentComment {
    color: black;
}

/* defining width of divs */
.commentName,
.commentEmail,
.commentSubject {
    width: calc((100% - 40px)/3);
    float: left;
}

.commentComment {
    width: 100%;
}

#commentComment {
    /* width: 100%; */
    height: 200px;
    margin-bottom: 40px;
}

.commentEmail {
    margin-left: 20px;
    margin-right: 20px;
}

input:required {
    box-shadow:none;
}

/* defining width and style of inputs */
.leaveAComment input,
.leaveAComment textarea {
    width: 100%;
    border: none;
    border-bottom: solid 0.5px #d1d1d1;
    padding: 10px 0 10px 0;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #999999;
    resize: none;
}

.commentName,
.commentEmail,
.commentSubject {
    position: relative;
}

.borderBottom {
    height: 1px;
    background-color: black;
    width: 0;
    position: absolute;
    transition: width .3s;
}

#commentName:focus + .borderBottom,
#commentEmail:focus + .borderBottom,
#commentSubject:focus + .borderBottom {
    width: 100%;
}

#commentComment:focus {
    border-bottom: solid 1px black;
}

#commentSubmit {
    background-color: olivedrab;
    border: none;
    width: 150px;
    padding: 15px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.getInTouch .leaveAComment #commentSubmit {
    background-color: white;
    color: black;
    text-align: left;
    padding: 0;
    padding-bottom: 5px;
    border-bottom: solid 0.5px black;
    width: 90px;
}

